.invisible {
  visibility: hidden;
}

.listBox {
  position: relative;
}

.headline {
  margin-left: 8em;
  font-family: 'Inconsolata';
  color: var(--Ebony-Dark);
  text-shadow: var(--Alabaster) 1px 1px 1px;
  animation: fadeIn ease 1s;

  @media screen and (max-width: 414px) {
    margin-left: 2rem;
  }
}

.projectBox {
  position: relative;
  padding: 2em;
  height: 100vh;
  animation: fadeIn ease 1s;

  @media screen  and (max-width: 781px) {
    height: fit-content;
  }

  @media screen and (max-width: 414px) {
    
  }
}

.projectList {
  position: absolute;
  left: 7%;
  top: 7em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  @media screen  and (max-width: 781px) {
    flex-direction: column;
  }

  @media screen and (max-width: 414px) {
    top: 8em;
    left: 5%;
  }
  
}

.arrowBox {
  position: absolute;
  top: 41em;
  left: 87%;
  margin-bottom: 2em;

  @media screen and (max-width: 414px) {
    bottom: -71em;
    left: 20em;
  }

  @media screen and (max-width: 781px) {
   right: 1em;
    bottom: -84em;
  }
}


@keyframes fadeIn {
  from {opacity:0}
  to {opacity: 1}
}
