.invisible {
  visibility: hidden;
}

.headline {
  margin-left: 8em;
  font-family: 'Inconsolata';
  color: var(--Ebony-Dark);
  text-shadow: var(--Alabaster) 1px 1px 1px;
  animation: fadeIn ease 1s;
}

.projectBox {
  position: relative;
  padding: 2em;
  height: 100vh;
  animation: fadeIn ease 1s;

  @media screen  and (max-width: 781px) {
    height: fit-content;
  }
}

.projectList {
  position: absolute;
  left: 15%;
  top: 12em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  @media screen  and (max-width: 781px) {
    flex-direction: column;
  }
  
}

.arrowBox {
  position: absolute;
  bottom: -95em;
  left: -1em;
  margin-bottom: 2em;
}


@keyframes fadeIn {
  from {opacity:0}
  to {opacity: 1}
}
