.bioPage {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 4.5em;
  min-height: 100vh;
  background: var(--CadetBlue);
  margin-top: 0em;

  @media screen and (max-width: 414px) {
    padding: 0;
  }
  

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s ease;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;

    @media screen and (max-width: 781px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }



    .contact {
      margin-bottom: 11em;

      @media screen and (max-width: 781px) {
       visibility: hidden;
       margin-bottom: -10em;
      }
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 7em 0;
    padding: 0 1em 0 0;
    animation: fadeIn 2s ease;

    @media screen and (max-width: 414px) {
      flex-direction: column;
    }
    
    @media screen and (max-width: 781px) {
      margin-top: 2em;
      flex-direction: row;

    }

    h3 {
      font-family: 'Inconsolata';
      font-size: 2.5em;
      color: var(--Ebony-Dark);
    }

    a, div {
      text-decoration: none;
      text-align: center;
      font-family: 'Montserrat';
      font-size: 1.15em;
      cursor: pointer;
      color: var(--Ebony-Dark);
      margin: 1em;
      transition: 1s ease;
      animation: ebonyFade ease-in-out infinite 1s;
    }

    a:hover, div:hover {
    transform: scale(1.25);
    } 

    nav {
      border: solid var(--Ebony-Dark) 1px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px;
      background: var(--Opal);
      box-shadow: var(--Ebony-Dark) 2px 2px 8px;

    }

  }
  
  
}



@keyframes ebonyFade {
  0% {color: var(--Ebony)}
  50% {color: var(--Ebony-dark);}
  100% {color: var(--Ebony);}
}

@keyframes fadeIn {
  0% {opacity: 0; transform: scale(.6)}
  100% {opacity: 1; transform: scale(1)}
}
