* {
  box-sizing: border-box;
}

:root {
  --AeroBlue: #D6F9DD;
  --LightGreen: #99F7AB;
  --YellowGreenCrayola: #ABDF75;
  --Ebony: #60695C;
  --Ebony-Dark: #373b34;
  --SilverSand: #C5D6D8;
  --OrchidCrayola: #FFB2E6;
  --TerraCotta: #ED6A5A;
  --PaleSpringBud: #F4F1BB;
  --Opal: #9BC1BC;
  --CadetBlue: #5CA4A9;
  --Alabaster: #E6EBE0;
}

.projectsPage {
  min-height: 180vh;
  width: 100vw;
  background-color: var(--Opal);
  margin-top: 80vh;
  padding-bottom: 38vh;

  @media screen  and (max-width: 781px) {
    height: 180vh;
  }

  @media screen and (max-width: 414px) {
    min-height: 320vh;
    padding-bottom: 50em;
  }
}

.listBox1 {
  margin: -5em 0 -12em 0;
}

.listBox2 {
  margin: 0 0 0 0;
}

.arrowBox {
  position: absolute;
  right: 13%;
  bottom: 12em;

  @media screen and (max-width: 414px) {
    bottom: 1em;
  }
}
