* {
  box-sizing: border-box;
}

.projectsPage {
  min-height: 200vh;
  width: 100%;
  background-color: var(--Opal);
  margin-top: 80vh;
  padding-bottom: 5rem;

  @media screen  and (max-width: 768px) {
    /* height: 180vh; */
  
  }

  @media screen and (max-width: 414px) {
    min-height: 420vh;
    padding-bottom: 50em;
  }
}

.listBox1 {
  /* margin: -5em 0 -12em 0; */

  @media screen and (max-width: 414px) {
    margin: -5em 0 5em 0;
  }
}

.listBox2 {
  margin: 0 0 0 0;


  @media  screen and (max-width: 768px) {
    display: none;
  }
  /* @media screen and (max-width: 414px) {
    margin: 150px 0 0 0;
  } */
}

.arrowBox {
  position: absolute;
  right: 8em;
  bottom: 1em;

  @media screen and (max-width: 414px) {
    right: 4em;
    bottom: 1em;
  }
}
