* {
  box-sizing: border-box;
}

:root {
  --AeroBlue: #D6F9DD;
  --LightGreen: #99F7AB;
  --YellowGreenCrayola: #ABDF75;
  --Ebony: #60695C;
  --Ebony-Dark: #373b34;
  --SilverSand: #C5D6D8;
  --OrchidCrayola: #FFB2E6;
  --TerraCotta: #ED6A5A;
  --PaleSpringBud: #F4F1BB;
  --Opal: #9BC1BC;
  --CadetBlue: #5CA4A9;
  --Alabaster: #E6EBE0;
}

.techPage {
  position: relative;
  min-height: 100vh;
  background: var(--Opal);
  padding: 6em 0 10em 0;
  margin-top: 80vh;
  margin-bottom: 10vh;
  
  

  .techHeadline {
    position: absolute;
    top: 1em;
    left: 35rem;
    font-family: 'Inconsolata';
    text-shadow: var(--Alabaster) 1px 1px 1px;
    color: var(--Ebony-Dark);
  }
}
