.modalBox {
  position: relative;
  justify-content: center;
  align-items: center;
}

.modalBg {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.bgActive {
  position: fixed;
  width: 50vw;
  height: 50vh;
  top: 10em;
  left: 10em;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s;
  
}


.modal {
  position: fixed;
  background-color: white;
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  
  p {
    position: absolute;
    top: -4em;
    left: -4em;
    color: var(--Alabaster);
  }
}

.modal > button {
color: var(--AeroBlue);
width: 150px;
}
