:root {
  --AeroBlue: #D6F9DD;
  --LightGreen: #99F7AB;
  --YellowGreenCrayola: #ABDF75;
  --Ebony: #60695C;
  --Ebony-Dark: #373b34;
  --SilverSand: #C5D6D8;
  --OrchidCrayola: #FFB2E6;
  --TerraCotta: #ED6A5A;
  --PaleSpringBud: #F4F1BB;
  --Opal: #9BC1BC;
  --CadetBlue: #5CA4A9;
  --Alabaster: #E6EBE0;
}

.contactBox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-top: 3em;
  animation: fadeIn ease 3.5s;
  
  
}

.mediaPic {
  position: relative;
  width: 4em;
  margin: .5em;
  transition: .5s ease-in-out;

  @media screen and (max-width: 414px) {
    width: 3.5em;
    margin: .25em 1.5em .25em .25em;
  }
}

.mediaPic:hover {
  transform: scale(1.5);
}

.elementBox {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  
}

.popUpInner {
  margin-left: 2.35em;

  @media screen and (max-width: 414px) {
    margin: 0 1.25em .5em 0;
  }
}

.elementTag {
  text-align: right;
  width: 8rem;
  position: absolute;
  right: 6.5em;
  font-family: 'Montserrat';
  color: var(--CadetBlue);
  opacity: 0;
  animation: sparkleAndFade 1s ease-in-out;

  @media screen and (max-width: 414px) {
    display: none;
  }
}

.invisible {
  width: 8rem;
  position: absolute;
  right: 6.5em;
  opacity: 0;
}

.materialIcons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 4.5em;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  position: relative;
  color: var(--Ebony-Dark);
  
  margin: .5em;
  transition: .5s ease-in-out;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes grow {
  from {transform: scale(1)}
  to {transform: scale(1.5)}
}

@keyframes sparkleAndFade {
  0% {opacity: 0; margin-bottom: 1em;}
  20% {opacity: 1; color: var(--CadetBlue);}
  50% {transform: scale(1.15); color: var(--Opal); margin-bottom: 0;}
  80% {opacity: 1; color: var(--CadetBlue);}
  100% {opacity: 0; transform: scale(1); margin-top: 1em;}
}
