* {
  box-sizing: border-box;
}

:root {
  --AeroBlue: #D6F9DD;
  --LightGreen: #99F7AB;
  --YellowGreenCrayola: #ABDF75;
  --Ebony: #60695C;
  --Ebony-Dark: #373b34;
  --SilverSand: #C5D6D8;
  --OrchidCrayola: #FFB2E6;
  --TerraCotta: #ED6A5A;
  --PaleSpringBud: #F4F1BB;
  --Opal: #9BC1BC;
  --CadetBlue: #5CA4A9;
  --Alabaster: #E6EBE0;
}

.yellow, .green, .blue, .red {
  position: relative;
  width: 70vw;
  margin: 1em 0 0 0;
  padding: 2px;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat';
  border-radius: 25px;
  border: solid black 1px;
  box-shadow: var(--Ebony-Dark) 2px 3px 5px;
  overflow: hidden;

  animation: slideIn ease infinite 10s;

  @media screen and (max-width: 781px) {
    animation: slide ease infinite 10s;
    height: 3em;
    margin: 8em 0 0 2em;
  }

  @media screen  and (max-width: 414px) {
    height: 3em;
    width: 90vw;
  }
}

.fact {
  animation: fade ease infinite 5s;
}

.link {
  display: flex;
  justify-content: center;
  color: var(--Ebony-Dark);
  text-decoration: none;
}


.yellow {
  background-color: var(--YellowGreenCrayola); 
}

.green {
  background-color: var(--LightGreen);
}

.blue {
  background-color: var(--CadetBlue);
}

.red {
  background-color: var(--TerraCotta);
}

@keyframes slidIn {
  0% {left: 65em}
  25%{left: 20em}
  50% {right: 65em}
  75% {right: 20em}
  100% {right: 20em}
}

@keyframes slideIn {
  0% {transform:  translateX(55em);}
  25% {transform: translateX(15em);}
  50% {transform: translateX(15em);}
  51% {transform: translateX(-55em);}
  75% {transform: translateX(-15em);}
  100% {transform: translateX(-15em);}
}


@keyframes slide {
  0%  {transform: translateX(55em);}
  25% {transform: translateX(-.5em);}
  50% {transform: translateX(-.5em);}
  51% {transform: translateX(-55em);}
  75% {transform: translateX(-.5em);}
  100% {transform: translateX(-.5em);}
}

@keyframes fade {
 0% {opacity: 0}
 5% {opacity: 0}
 70% {opacity: 1}
 85% {opacity: 1}
 90% {opacity: 0}
 100% {opacity: 0} 
}
